/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* header styles */

* {
    margin: 0;
}

html {
    background: rgb(82, 98, 110) url(../img/bg.png);
}

body {
    font-size: 14px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.8em;
    display: inline-block;
    margin: 0 0 0 0;
    color: white;
}

h3 {
    color: #4b5a65;
    margin-top: 0px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #4b5a65;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #3c92d0;
    text-decoration: none;
}

.container {
    max-width: 978px;
    margin: 0 auto;
    /*height: 100vh;*/
    /*background: red;*/
}

/* GRID */

.flex {
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-sa {
    display: flex;
    justify-content: space-around;
}

/* END GRID */


/* SERVICES */

/*=HEADER=*/
header {
    background: url(../img/header-background.png);
}

/*header-top*/

.header-top {
    margin: 40px 0 60px 0;
}

.main-nav li {
    color: #fff;
    margin-right: 30px;
    padding: 7px 16px;
}

.main-nav a {
    color: #fff;
}

.active {
    background: -moz-linear-gradient(top, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,69,77,1)), color-stop(40%, rgba(58,69,77,1)), color-stop(100%, rgba(76,91,101,1)));
background: -webkit-linear-gradient(top, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
background: -o-linear-gradient(top, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
background: -ms-linear-gradient(top, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
background: linear-gradient(to bottom, rgba(58,69,77,1) 0%, rgba(58,69,77,1) 40%, rgba(76,91,101,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a454d', endColorstr='#4c5b65', GradientType=0 );
 border-radius: 20px;
    box-shadow: -1px -1px 1px black, 0px 1px 1px rgb(106, 131, 141);
}

/*header-bottom*/

.banner-content {
    max-width: 50%;
    margin-top: 60px;
}

.banner-content h2{
    color: #fff;
    font-size: 3rem;
}

.banner-content p {
    font-size: 1.1em;
    color: #a0a0a0;
    text-shadow: 1px 1px 1px #343434;
    line-height: 26px;
    margin-bottom: 20px;
}

.banner-content p:first-of-type {
    color: #dcdcdc;
}

.banner-action p {
    margin: 10px 10px 0 0;
}

.banner-action a:last-of-type {
    color: #fff;
    margin-top: 13px;
}

/*=MAIN CONTENT=*/

.main, footer{
    background: #fff;
}

/*SPONSOR-STROKE SECTION*/

.sponsor-stroke {
    background: #eee;
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c3c3c3;
}

.sponsor {
    opacity: 0.4;
}

.sponsor img {
    width: 100%;
}

/*SERVICE SECTION*/

.service {
    padding: 90px 0;
}

.service-item {
    width: 30%;
    text-align: center;
}

.service-item h3 {
    margin: 25px 0 10px 0;
    font-size: 1.25rem;
}

.service-item p {
    color: #8a8c8e;
}

.service-item button {
    color: #fff;
    background: url(../img/icons/blue-btn.png) no-repeat;
    padding: 11px 23px 11px 23px;
    border: none;
    margin-top: 30px;
}

/*PROJECTS SECTION*/

.projects {
    margin-bottom: 90px;
}

.projects .container {
    position: relative;
}

.project-title {
    margin-bottom: 30px;
}

.project-title img {
    margin-right: 5px;
}

.project-items {
    flex-wrap: wrap;
}

.project-item img {
    width: 100%;
    padding: 2px;
    border: 1px solid #ededed;
}

.btn-slide-left {
    width: 4%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 105%;
}

.btn-slide-right {
    width: 4%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 105%;
}

/*SOCIAL SECTION*/

.social {
    padding-bottom: 60px;
}

/*blog*/

.blog {
    width: 48%;
}

.blog-title img {
    margin-right: 5px;
}

.blog-items {
    flex-direction: column;
}

.blog-item {
    margin: 20px 0;
}

.img-container {
    width: 30%;
}

.img-container img {
    width: 100%;
}

.post-text {
    width: 65%;
}

.post-text h4 {
    color: #4C5B66;
}

.post-text p {
    color: #4C5B66;
}

.post-text p:last-of-type {
    color: #8a8c8e;
}

/*twitter*/

.twitter {
    width: 48%;
}

.twitter-title img {
    margin-right: 5px;
}

.twitter-item {
    margin: 20px 0;
}

.twitter-item p {
    color: #8a8c8e;
    margin-bottom: 10px;
}

.twitter-item p span {
    color: #4C5B66;
    font-weight: bold;
}

.twitter-item p:last-of-type {
    color: #bcbcbc;
    font-size: 0.6875rem;
    margin-bottom: 0;
}

/*=FOOTER=*/

footer .container {
    align-items: center;
    border-top: 1px solid #e8e8e8;
    padding: 20px 0;
}

footer p {
    color: #8a8c8e;
}

/*===== Media query's =====*/

@media screen and (max-width: 1170px) {

    /*projects slider-button fix*/
    .projects {
        padding-bottom: 70px;
        border-bottom: solid 1px #e8e8e8;
    }

    .btn-slide-left {
        top: 110%;
        right: 60%;
    }

    .btn-slide-right {
        top: 110%;
        left: 60%;
    }
}

@media screen and (max-width: 1000px) {

    /*tablet/mobile padding*/
    .container {
        padding: 0 15px;
    }

    footer .container {
        padding: 20px 15px;
    }

    /*Slider size fix*/
    .project-item {
        width: 20%;
    }
}

@media screen and (max-width: 890px) {

    .iphone {
        display: none;
    }

    .header-bottom {
        text-align: center;
        justify-content: center;
    }

    .banner-content {
        max-width: 80%;
        margin: 0 0 60px 0;
    }

    .banner-content h2 {
        margin-bottom: 30px;
    }

    .banner-action {
        justify-content: center;
    }

}

@media screen and (max-width: 670px) {

    /*service column*/
    .service {
        padding: 45px 0;
    }

    .service-items {
        flex-direction: column;
    }

    .service-item {
        width: 90%;
        padding: 15px 0;
        border-bottom: 1px solid #e8e8e8;
        margin: 0 auto 15px auto;
    }

    /*blog info fix*/
    .social .container {
        flex-direction: column;
    }

    .blog {
        width: 100%;
        margin-bottom: 40px;
    }

    .twitter {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    /*Main nav fix*/
    h1 {
        margin-bottom: 10px;
    }

    .header-top {
        align-items: center;
        flex-direction: column;
    }

    /*sponsor icon fix*/

    .sponsor img {
        width: 80%;
    }

    /*slider size fix*/
    .btn-slide-left {
        width: 6%;
    }

    .btn-slide-right {
        width: 6%;
    }
}

@media screen and (max-width: 480px) {

    /*main-nav fix*/
    .main-nav ul {
        flex-direction: column;
        text-align: center;
        margin-left: 30px;
    }

    .main-nav li {
        margin-bottom: 10px;
    }

    /*banner-action fix*/
    .banner-action {
        flex-direction: column;
    }

    .banner-action p {
        display: none;
    }

    /*slider size fix*/

    .btn-slide-left {
        width: 7%;
    }

    .btn-slide-right {
        width: 7%;
    }

    /*Font size changes*/

    .banner-content h2 {
        font-size: 2rem;
    }

    .banner-content p {
        font-size: 0.875rem;
    }

    .service-item p {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 400px) {
    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .container p {
        margin-bottom: 10px;
    }

    /*slider size fix*/

    .btn-slide-left {
        width: 8%;
    }

    .btn-slide-right {
        width: 8%;
    }
}

























/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
